doctype html

head
    title Look Inna Book: Order Confirmation
body
    h2 Your order has been placed!
    h3 Please check back for updates on your order.
    br
    form(action='/index' method='POST')
        button(type='submit' name='returnToIndex') Return to Main Page